$contentPadding: 10px 20px;

.container {
  padding: $contentPadding;

  &.-width-full {
    width: 100vw;
  }

  &.-height-full {
    height: 100vh;
  } 
}

.section {
  width: 100vw;
  height: auto;
  margin-top: 25px;

  &__header {
    @include headline6();
  }

  &__body {
    @include body2();
    margin-top: 10px;
  }
}