<div class="app-bar">
    <span class="app-bar__header">CSS BEVM Demo</span>
    <div class="app-bar__theme-toggle">
        <ToggleSwitch @color="on-blue" @initialState={{this.isDarkTheme}} @onStateChanged={{this.updateTheme}} />
    </div>
</div>

{{yield}}