$appBarHeight: 53px;

.app-bar {
  @include themed() {
    background-color: getThemeValue($primary);
    height: $appBarHeight;
    padding: $contentPadding;
    display: flex;
    align-items: center;

    &__header {
      @include headline6();
      color: getThemeValue($bg);
      margin-left: 0;
    }

    &__theme-toggle {
      float: right;
      margin-left: auto;
    }
  }
}