.btn {
  @include buttonText();
  text-align: center;
  border-radius: 2px;
  padding: 5px 25px;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.btn--contained {
  border: none;

  @include themed() {
    color: getThemeValue($buttonText);
  }

  &:hover {
    filter: brightness(85%);
  }

  /* modifier definition: -{namespace}-{descriptor} */

  /* color modifiers */

  &.-color-primary {
    @include themed() {
      background-color: getThemeValue($primary);
    }
  }
  
  &.-color-secondary {
    @include themed() {
      background-color: getThemeValue($secondary);
    }
  }

  &.-color-error {
    @include themed() {
      background-color: getThemeValue($error);
    }
  }

  /* size modifiers */

  &.-size-medium {
    font-size: 16px;
  }

  &.-size-large {
    font-size: 24px;
  }
}

.btn--outlined {
  &:hover {
    filter: brightness(95%);
  }

  border: 1px solid;
  background-color: transparent;

  /* color modifiers */

  &.-color-primary {
    @include themed() {
      border-color: getThemeValue($primary);
      color: getThemeValue($primary);
    }
  }

  &.-color-secondary {
    @include themed() {
      border-color: getThemeValue($secondary);
      color: getThemeValue($secondary);
    }
  }

  &.-color-error {
    @include themed() {
      border-color: getThemeValue($error);
      color: getThemeValue($error);
    }
  }
}