$toggleSwitchSliderWidth: 20px;
$toggleSwitchSliderHeight: 20px;

$toggleSwitchHeight: 26px;
$toggleSwitchWidth: 46px;

.toggle-switch {
  position: relative;
  display: inline-block;
  width: $toggleSwitchWidth;
  height: $toggleSwitchHeight;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

@mixin toggleSwitchSliderBefore() {
  position: absolute;
  content: "";
  height: $toggleSwitchSliderHeight;
  width: $toggleSwitchSliderWidth;
  left: 3px;
  bottom: 3px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle-switch__slider {
  @include themed() {
    background-color: getThemeValue($disabledOrHint);
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &.-style-default {
      &:before {
        @include toggleSwitchSliderBefore();
        background-color: getThemeValue($bg);
      }
    }

    &.-style-inverted {
      &:before {
        @include toggleSwitchSliderBefore();
        background-color: getThemeValue($secondary);
      }
    }
  }
}

input:checked + .toggle-switch__slider {
  @include themed() {
    &.-style-default {
      background-color: getThemeValue($secondary);
    }

    &.-style-inverted {
      background-color: getThemeValue($bg);
    }
  }
}

input:checked + .toggle-switch__slider:before {
  -webkit-transform: translateX($toggleSwitchSliderWidth);
  -ms-transform: translateX($toggleSwitchSliderWidth);
  transform: translateX($toggleSwitchSliderWidth);
}