{{page-title "CSS BEVM Demo"}}

{{!-- The following component displays Ember's default welcome message. --}}
<div class="theme theme--dark">
    <div class="app">
        <p>Hello, world!</p>
    </div>
</div>
{{!-- Feel free to remove this! --}}

{{outlet}}