{{page-title "CSS BEVM Demo"}}

<div class="{{this.theme.cssVariant}}">
    <div class="app">
        <AppBar>
            <Button @variant="outlined" @color="danger" @text="Hello" />
        </AppBar>
    </div>
</div>