{{page-title "CSS BEVM Demo"}}

{{!-- The following component displays Ember's default welcome message. --}}
<div class="theme theme--default">
    <div class="app">
        <Button @variant="outlined" @color="error" @text="Hello" />
    </div>
</div>
{{!-- Feel free to remove this! --}}

{{outlet}}