{{page-title "CSS BEVM Demo"}}

<div class="{{this.theme.cssVariant}}">
    <div class="app">
        <AppBar>
            <Button @variant="contained" @color="danger" @text="Hello" />
            <ToggleSwitch 
                @style="default" 
                @initialState={{this.isDarkTheme}} 
                @onStateChanged={{this.updateTheme}} />
        </AppBar>
    </div>
</div>